* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #100d23;
  color: aliceblue;
}

.container {
  max-width: 97%;
}
nav {
  display: flex;
  justify-content: space-between;
  height: 50px;

  align-items: center;
  margin: 15px 10px 6px 10px;
  padding: 12px;

  border-radius: 30px;
  background-color: #211c41;
  filter: brightness(150%) opacity(0.7);
}

nav .links {
  display: flex;
  gap: 20px;
}
a {
  text-decoration: none;
  color: #f4f4f4;
}
.nav-button {
  width: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-button button {
  padding: 5px 10px;
  border-radius: 10px;
  border: none;
}
.main-header {
  width: 95%;
  height: 400px;
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
}
.main-header h1,
.main-header h3,
.main-header h4,
.main-header i {
  max-width: 300px;
  padding: 10px 0px;
}
.main-header h1 {
  font-size: xx-large;
}
.main-header span,
.main-header i,
.main-header h3 {
  display: flex;
  justify-content: center;
}

.task-card-details {
  border: 1px solid #9694a5;
  width: 280px;
  height: 170px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #211c41;
}
.task-card {
  display: flex;
  justify-content: space-around;
}

.task-card-details h4,
.task-card-details i {
  width: 200px;
}
.task-card-details i {
  display: flex;
  justify-content: flex-start;
}
.task-card-details button {
  padding: 10px 40px;
  border-radius: 10px;
  border: none;
  background-color: dodgerblue;
}

.about-our-websites h2 {
  margin-top: 80px;
}
/* .chart-container div {
  max-width: 280px;
} */
.chart-container {
  display: flex;
  align-items: flex-end;
  width: 400px;
  height: 300px;
  background-color: #211c41;
  border-radius: 10px;
}
.chart-container .usability,
.chart-container .others,
.chart-container .marketing {
  width: 160px;
  background-color: #3c394f;
  border-radius: 10px;
}
.chart-container .usability {
  height: 250px;
  border-radius: 10px 10px 0px 10px;
}
.chart-container .others {
  height: 210px;
}
.chart-container .marketing {
  height: 170px;
}
.chart-container h2 {
  padding-bottom: 200px;
}
h2 {
  position: relative;
  top: -60px;
  padding-left: 5px;
}
.chart-container .usability .usable {
  height: 180px;
  position: relative;
  top: -185px;
  background-color: rgb(144, 144, 238);
  /* border-radius: 10px; */
  border-radius: 10px 10px 0px 10px;
}
.chart-container .marketing .markets {
  height: 100px;
  position: relative;
  top: -184px;
  background-color: rgb(70, 70, 251);
  border-radius: 10px 10px 10px 0px;
}
.chart-container .others .other {
  position: relative;
  top: -147px;
  height: 130px;
  background-color: rgb(112, 112, 251);
  border-radius: 10px 10px 0px 0px;
}
.about-our-websites {
  max-height: 600px;
}
.about-our-websites h3 {
  /* padding: 30px; */
  padding: 30px 0px 0px;
  margin: 0px 0px 8px 115px;
}

.both-chart-container-and-promo-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 95%;
  /* margin-left: 22px; */
  padding-bottom: 40px;
  margin-left: 80px;
}
.block-years {
  display: flex;
  gap: 7px;
  width: 20px;
}
.text-description {
  width: 600px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  font-size: 30px;
}
.block-years h1,
.block-years p,
.block-subscribers div {
  width: 214px;
  height: 71px;
}
.block-subscribers {
  display: flex;
}
.subscribes-info {
  display: flex;
  gap: 5px;
}
.subscribes-info p {
  display: flex;
  width: 20px;
  flex-wrap: wrap;
}

.discover-btn {
  padding: 4px;
  margin-top: 5px;
  width: 100px;
  color: #f4f4f4;
  background-color: dodgerblue;
  border: none;
  border-radius: 10px;
}
.promo-banner {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.platform-user h3 {
  width: 200px;
  margin: 0px 0px 20px 100px;
  font-size: 20px;
}
.platform-user {
  margin-top: 70px;
  margin-left: -60px;
}
.platform-section {
  display: flex;
  /* gap: 100px; */
  justify-content: space-between;
  width: 90%;
  gap: 30px;
}
.platform-user h3 {
  margin-left: 150px;
}

.mockup {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 400px;
  height: 350px;
  background-color: #100d23;
  margin-left: 144px;
  background-color: #f4f4f4;
  border-radius: 5px;
  color: #100d23;
  font-weight: bold;
}
.box-containers .box-icons,
.box-containers .fa-brands {
  width: 330px;
  height: 200px;
  background-color: rgb(6, 193, 193);
  border-radius: 5px;
}
.box-containers .fa-brands {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-containers .fa-solid {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}
.box-containers .our-followers {
  max-width: 50px;
  height: 50px;
  flex-grow: 0px;
  flex-shrink: 1px;
  margin-top: 70px;
}
img {
  width: 100%;
}
.colors-controls div {
  width: 10px;
  height: 10px;
}
.colors-controls .red {
  background-color: red;
}
.colors-controls .orange {
  background-color: orange;
}
.colors-controls .blue {
  background-color: rgb(130, 130, 243);
}
.colors-controls {
  max-width: 400px;
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  margin: 10px 0px 10px 60px;
}
.colors-controls div {
  border-radius: 50%;
}
.our-followers {
  display: flex;
  gap: 20px;
}
.our-followers img {
  border-radius: 50px;
}

.our-company {
  display: flex;
  flex-direction: column;
  /* margin-top: 30px; */
}

.our-platforms p {
  max-width: 600px;
  margin-top: 25px;
  font-size: 20px;
}
.our-platforms h2 {
  margin-top: 90px;
  margin-bottom: -20px;
}
.btn-containers {
  display: flex;
  justify-content: space-between;
}
.btn-containers button {
  padding: 10px;
  border: none;
  border-radius: 20px;
}
.btn-containers .company-benefit-button {
  border: 2px solid rgb(70, 70, 251);
  color: rgb(70, 70, 251);
  background-color: #100d23;
}
.testimonal-containers {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  margin-left: 80px;
}
.testimonal-details {
  display: flex;
  justify-content: space-between;

  padding: 40px 40px 40px 0px;
  margin-right: 120px;
}
.testimonal-details img {
  max-width: 200px;
  height: auto;
  flex-grow: 0px;
  flex-shrink: 1px;
  margin-left: 30px;
  border-radius: 10px;
}
.testimonal-descriptions {
  max-width: 550px;
  display: flex;
  font-size: 20px;
  flex-direction: column;
  gap: 30px;
}
.Testimonial-footer {
  display: flex;
  justify-content: space-between;
}

.suggestions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  align-items: center;
  height: 250px;
  margin-top: 50px;
}
.suggestions-form input,
.suggestions-form button {
  padding: 7px;
  border-radius: 6px;
  border: none;
}

.footer-container {
  /* width: 1350px; */
  display: flex;
  justify-content: space-between;
}
.comapany-description {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 3px;
  /* color: #f4f4f4; */
}
.comapany-description a {
  color: white;
}
.comapany-description h4,
ul h4 {
  font-weight: bold;
}
.footer-description {
  margin-left: 100px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer-button {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-right: 160px;
  gap: 10px;
}
.footer-button button {
  padding: 5px;
  margin-top: 3px;
  border-radius: 10px;
  border: none;
}
.login-btn,
.subscribe-btn {
  background-color: rgb(70, 70, 251);
}
ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.copyright-text {
  display: flex;
  justify-content: center;
  margin: 10px 0px 10px 0px;
}

.btn-containers button,
.testimonal-details {
  background-color: #3c394f;
  color: #f4f4f4;
}
hr {
  max-width: 1350px;

  margin: 20px 0px 20px 100px;
}
@media (min-width: 910px) and (max-width: 1200px) {
  nav {
    width: 80%;
  }
  .task-card {
    width: 80%;
    margin-left: 3px;
  }
  .platform-user {
    margin-left: -70px;
    gap: 10px;
  }
  .our-platforms p {
    min-width: 500px;
  }
  .our-platforms h2 {
    margin-bottom: -38px;
  }
  .platform-section {
    justify-content: space-between;
    width: 75%;
    gap: 40px;
  }

  .both-chart-container-and-promo-container {
    margin-left: 10px;
    gap: 20px;
    width: 90%;
  }

  .text-description {
    min-width: 480px;
    font-size: 26px;
  }
  .testimonal-details {
    display: flex;
    gap: 20px;
  }
  .mockup {
    width: 300px;
  }
  .box-containers .box-icons,
  .box-containers .fa-brands {
    max-width: 170px;
    align-items: center;
  }
  .testimonal-details {
    width: 78%;
  }
  .footer-container {
    width: 90%;
  }
}

@media (min-width: 601px) and (max-width: 900px) {
  nav {
    max-width: 900px;
    justify-content: space-between;
    margin-left: 10px;
  }
  .task-card {
    max-width: 800px;
    margin-left: 20px;
    gap: 20px;
  }
  .task-card-details {
    max-width: 252px;
    max-height: 200px;
    justify-content: space-between;
  }
  .task-card-details h4,
  .task-card-details i {
    max-width: 150px;
  }
  .both-chart-container-and-promo-container {
    gap: 20px;
    display: flex;
    justify-content: flex-start;
    margin-top: 30px;
    margin-left: 20px;
  }
  .text-description {
    max-width: 400px;
  }
  .chart-container {
    max-height: 300px;
  }
  .platform-user {
    margin-top: 30px;
    margin-left: -70px;
    justify-content: center;
  }
  .platform-section {
    gap: 30px;
  }
  .about-our-websites h3 {
    margin-left: 20px;
  }

  .our-platforms p {
    max-width: 400px;
    margin-top: 15px;
    font-size: 20px;
  }
  .our-platforms h2 {
    margin-bottom: -35px;
  }

  .testimonal-containers {
    width: 900px;
    justify-content: center;
    margin-left: 20px;
  }
  .testimonal-details {
    gap: 20px;
  }
  hr {
    max-width: 700px;
    justify-content: center;
  }
}

@media (min-width: 480px) and (max-width: 600px) {
  nav {
    max-width: 500px;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  nav a {
    font-size: 13px;
  }
  nav .links {
    gap: 10px;
  }
  .main-header {
    width: 500px;
    justify-content: center;
  }

  .nav-button {
    width: 100px;
    gap: 5px;
    padding: 0px 9px 1px 0px;
    margin-left: 40px;
  }
  .nav-button button {
    padding: 2px 1px 2px 2px;
  }
  .task-card {
    max-width: 500px;
    /* justify-content: space-between; */
    gap: 10px;
    margin-left: 10px;
  }

  .task-card-details {
    width: 140px;
    height: 150px;
    justify-content: space-between;
    padding: 10px;
  }
  .task-card-details h4,
  .task-card-details i {
    max-width: 130px;
  }

  .task-card-details button {
    padding: 10px 4px 10px 5px;
  }

  .both-chart-container-and-promo-container {
    max-width: 500px;
    justify-content: space-between;
    margin-left: 4px;
    gap: 10px;
  }
  .chart-container {
    margin-top: 5px;
    max-width: 260px;
    max-height: 290px;
  }
  .chart-container .usability,
  .chart-container .others,
  .chart-container .marketing {
    width: 70px;
  }
  .usability h2,
  .others h2,
  .marketing h2 {
    font-size: 15px;
  }
  .promo-banner {
    max-width: 250px;
  }
  .about-our-websites h3 {
    margin-left: 3px;
  }
  .promo-banner .text-description,
  .promo-banner p {
    max-width: 250px;
    font-size: 15px;
  }

  .chart-container .others .other {
    position: relative;
    top: -175px;
  }
  .our-company {
    max-width: 600px;
  }
  .platform-user {
    margin-left: -80px;
  }
  .platform-section {
    max-width: 600px;
    display: flex;

    gap: 25px;
  }
  .mockup {
    width: 200px;
    height: 330px;
  }

  .box-containers .box-icons,
  .box-containers .fa-brands {
    max-width: 150px;
    height: 180px;
  }
  .colors-controls {
    margin-right: 190px;
  }
  .our-platforms {
    max-width: 600px;
  }
  .our-platforms p {
    width: 250px;
    gap: 5px;
    font-size: 14px;
  }
  .our-platforms h2 {
    margin-bottom: -70px;
  }

  .btn-containers button {
    padding: 5px;
  }
  .testimonal-details {
    width: 490px;
    margin-left: -64px;
    gap: 20px;
  }
  .footer-container {
    width: 580px;
    margin-left: -22px;
    gap: 30px;
  }
  .comapany-description {
    display: flex;
    justify-content: space-between;
  }
  ul {
    gap: 30px;
  }
  hr {
    max-width: 390px;
    justify-content: center;
  }
}
@media (max-width: 478px) {
  nav {
    width: 900px;
  }
  .main-header {
    width: 900px;
    display: flex;
    justify-content: center;
  }
  .task-card {
    width: 500px;
    /* justify-content: space-between; */
    gap: 10px;
    margin-left: 15px;
  }
  .our-platforms p {
    width: 450px;
  }
  .testimonal-details {
    width: 700px;
    gap: 20px;
  }
  .both-chart-container-and-promo-container {
    width: 700px;
    display: flex;
    gap: 20px;
  }
  .text-description {
    width: 400px;
  }
  .suggestions {
    width: 900px;
    display: flex;
    justify-content: center;
  }
  .footer-container {
    width: 950px;
    justify-content: space-between;
  }
  hr {
    width: 700px;
    justify-content: center;
  }
  .copyright-text {
    width: 900px;
    justify-content: center;
  }
}
