* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  height: 84vh;
  background-color: #0a0720;
}
.header {
  text-align: center;
  padding-top: 20px;
  color: #f4f4f4;
}

/* Navigation */
nav {
  background: #010007;

  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

/* Books */
.books {
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 60px;
  margin: 20px;
  margin-top: 5px;
  flex-wrap: wrap;
}

.book {
  width: 300px;
  /* background: white; */
  padding: 15px;
  text-align: center;
  border-radius: 20px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  background: #0a0720;
  color: #f4f4f4;
  border: 2px solid;
  box-shadow: 0 0 15px #8000ff;
}

.book img {
  width: 170px;
  height: 180px;
  border-radius: 5px;
}
.book button {
  padding: 5px;
  border-radius: 10px;
  background-color: rgb(247, 183, 65);
  border: none;
}
#search-bar {
  padding: 5px;
  border: none;
  border-radius: 10px;
}
.header {
}
.header h3 {
  width: 1200;
  /* max-width: 700px; */
  /* margin: 20px 170px 20px 70px; */
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  margin: 25px 0px 0px 90px;
}
form {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login {
  background: #e0e0ec;
  border-radius: 20px;
  /* box-shadow: 10px 10px 20px #a3b1c6, -10px -10px 20px #ffffff; */
}

.login-button {
  background: #e0e0ec;
  border-radius: 20px;
  box-shadow: inset 10px 10px 20px #a3b1c6, inset -10px -10px 20px #ffffff;
}

.login-card {
  width: 1300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  gap: 20px;
  width: 300px;
  box-shadow: 0 0 15px #8000ff;
}
.login-input,
.login-button {
  padding: 5px;
  border: 1px solid orangered;
}

.highlight {
  position: relative;
}

.highlight::after {
  display: block;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.7;
  transform: scale(1.07, 1.05) skewX(-15deg);
  background-image: linear-gradient(to top left, #39b385, #9be15d);
}
